<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描Spring注解-->
    <context:component-scan base-package="Service"/>
    <context:component-scan base-package="Action"/>
    <context:component-scan base-package="Dao"/>

    <!--===============数据源=============================-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=UTC"/>
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="user" value="root"/>
        <property name="password" value="password"/>
    </bean>

    <!--===============配置和MyBaits的整合=============================-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--指定MyBatis全局配置文件位置-->
        <property name="configLocation" value="classpath:mybatis.xml"/>
        <!--数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--指定Mybatis mapper文件的位置-->
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:Mapper/*.xml"/>
    </bean>

    <!-- Mapper注入 这是底层dao接口的注入，很重要，路径要对-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="Dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>
</beans>