@charset "utf-8";
/* CSS Document */
body {background-image:url(../image/tu2.jpg) ;}
.h1{
	padding-left:300px;
	padding-right:300px;
	
}
#bozhuzhuce{
	padding-left:600px;
	padding-top:200px;
	
	}
