

body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #395015;
    line-height: 20px;
 
	
}


#fs_wrapper{
    width: 100%;
	    background: url("../image/fs_headerrepeat.jpg") 
repeat-x top center;
}

#fs_header_wrapper{
    width: 100%;
    background: url("../image/fs_main.png") no-repeat top center;
}


#fs_header{
	margin: 0 auto;
	position: relative;
	width: 980px;
	height: 620px;
}


#fs_main_wrapper{
    width: 100%;
    background: url("../image/fs_footer.png") repeat-x bottom;
}


#fs_main{
    padding: 0 0 30px 0;
    margin: 0 auto;
    width: 980px;
}


#fs_footer_wrapper{
    width: 100%;
    background: #262921;
}


#fs_footer{
    padding: 30px 0;
    margin: 0 auto;
    width: 980px;
}


h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: -1px;
}


h1{
    font-size: 32px;
    margin-bottom: 20px;
}

h2{
    font-size: 28px;
    margin-bottom: 20px;
	color:#000;
}

h3{
    font-size: 20px;
    margin-bottom: 20px;
	color:#000;
}

h4{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 100;
	color:#000;
}

h5{
    font-size: 14px;
	color:#000;
}

h6{
    font-size: 12px;
	color:#000;
}


img{
    border:none;
}


p{
    padding: 0;
    margin: 0;
	color:#000;
}

a:link,a:visited{
    color: #e79e05;
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:hover,a:active{
    outline: none;
}


#site_title{
    position: relative;
    padding: 20px 0;
}


#site_title a{
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #acacac;
    width: 280px;
    height: 105px;
    text-indent: -10000px;
    background:url("../image/x25.jpg") no-repeat top left;
}


#fs_menu{
    padding:10px;
    width: 960px;
    height:50px;
     background: url("../image/menu.png")no-repeat;
}


.menu ul{
    z-index: 100;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu ul li{
    position: relative;
    float: left;
    display: inline;
}


.menu ul li a{
    margin-right: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    font-weight: 400;
    color: #333333;
    display: block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    outline: none;
}

.menu ul li a.selected, .menu ul li a:hover{
    color: #ffffff;
    background: url("../image/menu_hover.png") no-repeat;
}

#fs_search{
    float: right;
    width: 200px;
    height: 30px;
   background: url("../image/fs_sbheader.png") no-repeat;
}

#fs_search form{
    padding: 0;
    margin: 0;
}

/*定义包含搜索框和搜索按钮的容器的搜索框的样式*/
#fs_search .txt_field{
    float: left;
    display: block;
    width: 170px;
    height: 20px;
    padding: 5px;
    line-height: 20px;
    font-size: 12px;
    color: #333333;
    font-variant: normal;
    border: none;
    background: none;
}

/*定义包含搜索框和搜索按钮的容器的搜索按钮的样式*/
#fs_search .sub_btn{
    float: right;
    display: block;
    width: 40px;
    height: 30px;
    font-size: 11px;
    font-weight: 700;
    color: #ffffff;
    line-height: 26px;
    /*鼠标指针变成手状*/
    cursor: pointer;
    border: none;
    background: none;
}

#sidebar{
    width: 242px;
    float: left;
}


.sidebar_box{
    position: relative;
    margin-bottom: 36px;
}


.sidebar_box h3{
    padding: 0 10px 0 10px;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    width: 222px;
    height: 44px;
    line-height: 44px;
    background: url("../image/fs_sbheader.png") no-repeat;
}


#sidebar .sidebar_box .content{
    padding: 10px 10px 5px;
    background: url("../image/fs_sbbg.png") repeat-y;
}


#sidebar .sidebar_list{
    padding: 0 0 10px;
    margin: 0;
    list-style: none;
}


#sidebar .sidebar_list li{
    padding: 5px 0;
    margin: 0;
    display: block;
}


#sidebar .sidebar_list li a{
    padding-left: 18px;
    color: #ffffff;
    text-decoration: none;
    background: url("../image/fs_list.png") no-repeat left center;
}


#sidebar .sidebar_list li a:hover{
    color: #ffffff;
    text-decoration: none;
}


.sidebar_box .bottom{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 242px;
    height: 5px;
    background: url("../image/fs_sbbgb.png");
}


.special{
    text-align: center;
}

*/
.special img{
    margin-bottom: 15px;
}


.special a{
    display: block;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}


.price{
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}


.normal_price{
    color: #999999;
    text-decoration: line-through;
}


.special_price{
    color: #fced11;
}


p{
    margin: 0 0 15px;
    padding: 0;
    color: #ffffff;
}


#content{
	padding-left:30px;
    float: right;
    width: 700px;
	
}


#content h2{
    padding: 10px;
    background: url("../image/fs_h2.png") repeat;

}
#content h3{
    padding: 10px;
    background: url("../image/fs_h2.png") repeat;

}


#content strong{
    color: #e79e05;
}
#content form{
	font-size:20px;
	color:#000;
	padding-left:200px;
	
	}

.product_box{
    float: left;
    width: 165px;
    text-align: center;
    margin: 0 10px 10px 0;
    background: url("../image/fs_h2.png") repeat;
}


.no_margin_right{
    margin-right: 0;
}


.product_box img{
    margin-bottom: 5px;
}


.product_box h3{
    margin-bottom: 5px;
    font-size: 11px;
    color: #ffffff;
    font-weight: 700;
}


.product_box .product_price{
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}


.product_box .add_to_cart{
    clear: both;
    width: 165px;
    height: 28px;
    background: url("../image/addtocart.png") no-repeat;
}


.product_box .add_to_cart a{
    float: left;
    display: block;
    width: 82px;
    line-height: 28px;
    text-align: center;
    color: #333333;
}

/**/
.cleaner {
    clear: both;
    display: block;
}


#fs_footer .footer_left{
    float: left;
    width: 240px;
}



#fs_footer .footer_right{
    float: right;
    width: 700px;
    text-align: right;
}
#content  p{
	color:#000;}
li{
	display:block;}
